.e-todo-app {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-todo-app .e-card {
  overflow: initial;
}

.e-todo-app .e-todo-form .e-field {
  width: 100%
}

.e-todo-app .e-todo-form .e-select__wrapper {
  width: 100%
}

.e-todo-app .e-board  {
  padding: 0
}

.e-todo-app .e-board thead {
  display: none
}